<a href="https://colab.research.google.com/github/TosinGeorge/Data-Science-Projects/blob/main/50_day_Python_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 50-Day Python Challenge
###### Started 28 September 2022

##### Day 1:Division and Square-root
Write a function called divide_or_square that takes one argument (a number), and returns the square root of the number if it is divisible by 5, returns its remainder if it is not divisible by 5. For example, if you pass 10 as an argument, then your function should return 3.16 as the square root.

In [1]:
def divide_or_square(num):
    if num % 5 ==0:
        return (num**0.5)
    if num % 5 != 0:
        return  (num % 5)
        
divide_or_square(64)

4

In [2]:
divide_or_square(60)

7.745966692414834

##### Extra Challenge: Longest Value
Write a function called longest_value that takes a dictionary 
as an argument and returns the first longest value of the 
dictionary. For example, the following dictionary should return 
– apple as the longest value.
fruits = {'fruit': 'apple', 'color': 'green'}

In [3]:
#this function does not work for dictionary of strings
def longest_value(dictionary):
    value = dictionary.values()
    max_value = max(value)
    return max_value
              
longest_value({'d':200,'a':1000,'b':400, 'g':800,'c':600 })

1000

In [4]:
#for strings

def longest_value(dictionary):
    max_list = []
    for i in dictionary.values():
        if len(i) > len(max_list):
            max_list = i
    print (max_list)

longest_value({'a':'blue','e':'thought','b':'purple', 'c':'sky', 'd':'white'})

thought

##### Day 2: Strings to Integers
Write a function called convert_add that takes a list of strings 
as an argument and converts it to integers and sums the list. For 
example [‘1’, ‘3’, ‘5’] should be converted to [1, 3, 5] and
summed to 9.

In [5]:
def convert_add(lists):
    int_list =[]
    for i in lists:
        int_list.append(int(i))
    return sum(int_list)
convert_add(['13','57','91','1'])

162

##### Extra Challenge: Duplicate Names
Write a function called check_duplicates that takes a list of 
strings as an argument. The function should check if the list has 
any duplicates. If there are duplicates, the function should return 
the duplicates. If there are no duplicates, the function should 
return "No duplicates". For example, the list of fruits below 
should return apple as a duplicate and list of names should 
return "no duplicates".
fruits = ['apple', 'orange', 'banana', 'apple']
names = ['Yoda', 'Moses', 'Joshua', 'Mark']

In [6]:
duplicates =[]
def check_duplicates(lists):
    for i in lists:
        if lists.count(i) > 1:
          if i not in duplicates:
            duplicates.append(i)
            print (i)
  
    else:
        print('No Duplicates')
        
check_duplicates(['orange', 'banana','banana','banana','pear', 'orange','apple', 'apple','mango','apple'])

orange
banana
apple
No Duplicates

In [7]:
check_duplicates(['Yoda', 'Moses', 'Joshua', 'Mark'])

No Duplicates

In [8]:
from collections import Counter

def check_duplicates(lists):
    i = Counter(lists)
    return [key for key,value in i.items() if value>1]

check_duplicates(['orange', 'banana','banana','banana','pear', 'orange','apple', 'apple','mango','apple'])

['orange', 'banana', 'apple']

In [9]:
check_duplicates(['Yoda', 'Moses', 'Joshua', 'Mark'])

[]

##### Day 3: Register Check

Write a function called register_check that checks how many 
students are in school. The function takes a dictionary as a 
parameter. If the student is in school, the dictionary says ‘yes’. If 
the student is not in school, the dictionary says ‘no’. Your 
function should return the number of students in school. Use the 
dictionary below. Your function should return 3.

In [10]:
def register_check(register):
    count =0
    # k and v are randon variables but they are specifically used as the keys and values of the 'register' dictionary
    for k,v in register.items(): 
        if v == 'yes':
            count +=1
            print('Yes,', k, 'is in school')
        if v == 'no':
            print('No,',k, 'is not in school')
    print (count)
            
register_check({'Micheal': 'yes','John': 'no','Peter': 'yes','Mary': 'yes'})

Yes, Micheal is in school
No, John is not in school
Yes, Peter is in school
Yes, Mary is in school
3

##### Extra Challenge: Lowercase Names
 
names = ["kerry", "dickson", "John", "Mary", 
 "carol", "Rose", "adam"]
 
You are given a list of names above. This list is made up of names 
of lowercase and uppercase letters. Your task is to write a code 
that will return a tuple of all the names in the list that have only
lowercase letters. Your tuple should have names sorted 
alphabetically in descending order. Using the list above, your 
code should return:
('kerry', 'dickson', 'carol', 'adam')

In [11]:
names = ["kerry", "dickson", "John", "Mary", "carol", "Rose", "adam"]
lower_case =[]
for i in names:
    if i.islower() == True: 
        lower_case.append(i)

#the tuple is already arranged in descending order without using the sorted function.
#However, I still went on to sort the tuple

lower_case = tuple(sorted(lower_case,reverse=True))
lower_case

('kerry', 'dickson', 'carol', 'adam')

##### Day 4: Only Floats
Write a function called only_floats, which takes two 
parameters a and b, and returns 2 if both arguments are floats,
returns 1 if only one argument is a float, and returns 0 if neither 
argument is a float. If you pass (12.1, 23) as an argument, your 
function should return a 1.

In [12]:
def only_floats(a,b):
    if type(a) == float and type(b) == float:
        return 2
    if type(a) == float and type(b) != float:
        return 1
    if type(a) != float and type(b) == float:
        return 1
    if type(a) != float and type(b) != float:
        return 0

only_floats(2,2.5)

1

##### Extra Challenge: Index of the Longest Word

Write a function called word_index that takes one argument, 
a list of strings and returns the index of the longest word in the 
list. If there is no longest word (if all the strings are of the same 
length), the function should return zero (0). For example, the list 
below should return 2.
words1 = ["Hate", "remorse", "vengeance"]
 And this list below, shoul return zero (0)
words2 = ["Love", "Hate"]

In [13]:
def word_index(lists):
    max_list = ''
    for i in lists:
        if len(i) > len(max_list):
            max_list = i
        #to return index of the longest string
        index = lists.index(max_list)
    return (index)

word_index(['hate', 'remorseremorsess', 'vengeancefgfgfhguiolsmm'])

2

In [14]:
word_index(['hate', 'love', 'hate'])

0

##### Day 5: My Discount
Create a function called my_discount. The function takes no 
arguments but asks the user to input the price and the 
discount (percentage) of the product. Once the user inputs the 
price and discount, it calculates the price after the discount. 
The function should return the price after the discount. For 
example, if the user enters 150 as price and 15% as the discount, 
your function should return 127.5.

In [15]:
price = int(input('Enter the price: '))
disc= int(input('Enter the discount: '))

def my_discount():
    new_price = price * (1-(disc/100))
    
    print('The discounted price is', new_price)
    
my_discount()

Enter the price: 150
Enter the discount: 15
The discounted price is 127.5

##### Extra Challenge: Tuple of Student Sex
You work for a school and your boss wants to know how many 
female and male students are enrolled in the school. The school 
has saved the students in a list. Your task is to write a code that 
will count how many males and females are in the list. Here is a 
list below:
students = ['Male', 'Female', 'female', 'male', 'male', 'male',
 'female', 'male', 'Female', 'Male', 'Female', 'Male', 'female']
Your code should return a list of tuples. The list above should 
return:
[(‘Male’,7), (‘female’,6)]

In [16]:
females = []
males = []
def count_students(lists):
    for i in lists:
        if i == 'Female' or i == 'female':
            females.append(i)
        if i == 'male' or i == 'Male':
            males.append(i)
            
    # to make this a tuple, I just added brackets around 'Males' & len(males) and 'Females' & len(females)
    print (('Males',len(males)),('Females',len(females)))
    
count_students(['Male', 'Female', 'female', 'male', 'male', 'male', 'female', 'male', 'Female', 'Male', 'Female', 'Male', 'female'])

('Males', 7) ('Females', 6)

##### Day 6: User Name Generator
Write a function called user_name that generates a username 
from the user’s email. The code should ask the user to input an 
email and the code should return everything before the @ sign 
as their user name. For example, if someone enters 
ben@gmail.com, the code should return ben as their user 
name.

In [17]:
email = input('Enter your email:')
def user_name():
#Since the "@" symbol is common to all email addresses, I tried to locate the index of the "@" symbol in any email address.
    symbol = email.index('@')
    username = email[0:symbol]
    print ('Your username is ',username.upper())

user_name()

Enter your email:ben@gmail.com
Your username is  BEN

##### Extra Challenge: Zero Both Ends
Write a function called zeroed code that takes a list of numbers 
as an argument. The code should zero (0) the first and the last 
number in the list. For example, if the input is [2, 5, 7, 8, 9],
your code should return [0, 5, 7, 8, 0].

In [18]:
def zeroed_code(lists):
    #identify the first and last index of the list and equate them to 0
    lists[0] = 0
    lists[-1] = 0
    return lists
zeroed_code([4,2,8,5,7,8,9,100])

[0, 2, 8, 5, 7, 8, 9, 0]

##### Day 7: A String Range
Write a function called string_range that takes a single 
number and returns a string of its range. The string characters 
should be separated by dots(.) For example, if you pass 6 as 
an argument, your function should return ‘0.1.2.3.4.5’.

In [19]:
#Define the function
def string_range(num):
    num_list =[]                         #create a list to accept the range of numbers
    for i in range(0,num):               #create the range
        num_list.append(i)
        n_list = ".".join(str(i) for i in num_list)
    print(n_list)
    print('n_list is',type(n_list))
    #print (".".join(str(i) for i in num_list)) #using the join method, add "." after each number in the list
string_range(10)

0.1.2.3.4.5.6.7.8.9
n_list is <class 'str'>

##### Extra Challenge: Dictionary of Names
You are given a list of names, and you are asked to write a code 
that returns all the names that start with ‘S’. Your code should 
return a dictionary of all the names that start with S and how 
many times they appear in the dictionary. Here is a list below:
names = ["Joseph","Nathan", "Sasha", "Kelly",
 "Muhammad", "Jabulani", "Sera”, "Patel", "Sera”]
Your code should return: {“Sasha”: 1, “Sera”: 2}

In [20]:

names = ["Joseph","Nathan", "Sasha", "Kelly", "Sera","Muhammad", "Jabulani", "Sera", "Patel", "Sera"]
s_list = []                #create a list to accept names that start with 'S'
dictionary ={}             #create a dictionary to accept the count of names in s_list
for i in names:                                       
    if i[0] == "S":                                   
        s_list.append(i)  
print(s_list)      
                      
for name in s_list:
  dictionary[name] = s_list.count(name)  #for the names in s_list, count the number of times each name exists and add to the dictionary
print(dictionary)

['Sasha', 'Sera', 'Sera', 'Sera']
{'Sasha': 1, 'Sera': 3}

##### Day 8: Odd and Even
Write a function called odd_even that has one parameter and 
takes a list of numbers as an argument. The function returns the 
difference between the largest even number in the list and the 
smallest odd number in the list. For example, if you pass 
[1,2,4,6] as an argument the function should return 6 -1= 5.

In [21]:
def odd_even(lists):
    even_num = []
    odd_num = []
    for i in lists:
        #to check for numbers that are even
        if i % 2 == 0:
            even_num.append(i)
            
        #to check for numbers that are odd
        if i % 2 != 0:
            odd_num.append(i)
    #you may decide to assign the max of even_num and min of odd_num to 
    #separate variables and the do the difference of the variables.
    #I just went ahead to do all that calculation in the print statement
    print (max(even_num)-min(odd_num))

odd_even([3,2,6,4,10])

7

##### Extra Challenge: List of Prime Numbers
    
Write a function called prime_numbers. This function asks a 
user to enter a number (integer) as an argument and returns a 
list of all the prime numbers within its range. For example, if user 
enters 10, your code should return [2, 3, 5, 7] as prime numbers.

In [22]:
num = int(input('Enter any number:'))
def prime_numbers(num):
  prime_num = []
    #We start by creating a "for loop" with i in range 1 till the actual number
  for i in range(1,num+1):
        #prime numbers are greater than 1
        if i > 1:
            for p in range(2,i):
                #prime numbers are divisible by themselves and 1
                if (i%p) == 0:
                    break
            else:      
                prime_num.append(i)
  print(prime_num)
prime_numbers(num)

Enter any number:10
[2, 3, 5, 7]

##### Day 9: Biggest Odd Number
Create a function called biggest_odd that takes a string of 
numbers and returns the biggest odd number in the list. For 
example, if you pass ‘23569’ as an argument, your function 
should return 9. Use list comprehension.

In [23]:
#using list comprehension
def biggest_odd(string):                              #Define the function
    s_list = max([int(i) for i in string])            #intialize a variable, s_list, convert each element(i) to an integer     
    print(s_list)                                     #return the maximum of s_list
biggest_odd('23569')

#alternative method

def biggest_odd(string):
  s_list =[]
  for i in string:
      i = int(i)
      s_list.append(i)
  print(max(s_list))
biggest_odd('23569')

9
9

##### Extra Challenge: Zeros to the End
Write a function called zeros_last. This function takes a list as 
argument. If a list has zeros (0), it will move them to the front of 
the list and maintain the order of the other numbers in the list. 
If there are no Zeros in the list, the function should return the 
original list sorted in ascending order. For example, if you pass 
[1, 4, 6, 0, 7,0,9] as an argument, your code should return [1, 
4, 6, 7, 9, 0, 0]. If you pass [2, 1, 4, 7, 6] as your argument, 
your code should return [1, 2, 4, 6, 7].

In [24]:
#I'm enjoying list comprehension and I decided to use it for this exercise

def zeros_last(lists):                                                                 #Define the function
    new_lists = sorted([i for i in lists if i !=0]) + [i for i in lists if i == 0]     #Create "new_list" to accept the concantenation of two lists
    print('Old lists is -',lists)
    print ('New list is -',new_lists)                                                                  #the first list is sorted and accepts only numbers not equal to zero
zeros_last([0,2,1,4,0,7,6])                                                            #the second list accepts only numbers equals to zero


#alternative method
def zeros_last(lists):                                                
    new_lists =[]
    zero_lists =[]
    for i in lists:
        if i !=0:
            new_lists.append(i)
            new_lists.sort()
        if i == 0:
            zero_lists.append(i)
    print (new_lists+zero_lists)
zeros_last([0,2,1,4,0,7,6])

Old lists is - [0, 2, 1, 4, 0, 7, 6]
New list is - [1, 2, 4, 6, 7, 0, 0]
[1, 2, 4, 6, 7, 0, 0]

##### Day 10: Hide my Password
Write a function called hide_password that takes no 
parameters. The function takes an input (a password) from a 
user and returns a hidden password. For example, if the user 
enters ‘hello’ as a password the function should return ‘****’ as 
a password and tell the user that the password is 4 characters
long.

In [25]:
password = input('Enter your password: ')
def hide_password():
    hid_pass = len(password) * '*'
    print('Password -',hid_pass, '\nYour password is',len(password),'characters long')
        
hide_password()

Enter your password: hello
Password - *****
Your password is 5 characters long

##### Extra Challenge: A Thousand Separator
Your new company has a list of figures saved in a list. The issue 
is that these numbers have no separator. The numbers are 
saved in the following format:
[1000000, 2356989, 2354672, 9878098].
You have been asked to write a code that will convert each of the 
numbers in the list into a string. Your code should then add a 
comma on each number as a thousand separator for 
readability. When you run your code on the above list, your 
output should be:
[ '1,000,000', '2,356,989', '2,354,672', '9,878,098’]
Write a function called convert_numbers that will take one 
argument, a list of numbers above.

In [26]:
def convert_numbers(num):
    str_num =[]
    for i in num:
        str_num.append("{:,}".format(i))
        
    print(str_num)
convert_numbers([1000000, 2356989, 2354672, 9878098])

['1,000,000', '2,356,989', '2,354,672', '9,878,098']

##### Day 11: Are They Equal?
Write a function called equal_strings. The function takes two 
strings as arguments and compares them. If the strings are equal 
(if they have the same characters and have equal length), it 
should return True, if they are not, it should return False. For 
example, ‘love’ and ‘evol’ should return True.

In [27]:
def equal_strings(string_1,string_2):
    if sorted(string_1) == sorted(string_2):
        return True
    else:
        return False
equal_strings('evil','live')

True

##### Extra Challenge: Swap Values
Write a function called swap_values. This function takes a list 
of numbers and swaps the first element with the last element. 
For example, if you pass [2, 4,67, 7] as a parameter, your 
function should return
[7, 4, 67, 2]

In [28]:
def swap_values(lists):
    f_ele = [lists.pop(0)]
    s_ele = [lists.pop(-1)]
    new_list = s_ele + lists + f_ele
    return new_list

swap_values([3, 4,67, 17])

[17, 4, 67, 3]

##### Day 12: Count the Dots
Write a function called count_dots. This function takes a 
string separated by dots as a parameter and counts how many 
dots are in the string. For example, ‘h.e.l.p.’ should return 4
dots, and ‘he.lp.’ should return 2 dots.

In [29]:
def count_dots(string):
    count = [i for i in string if i == '.']
    print ('The number of dots in',string, 'is',len(count))

count_dots('h.e.l.p.')

The number of dots in h.e.l.p. is 4

##### Extra Challenge: Your Age in Minutes
Write a function called age_in_minutes that tells a user how 
old they are in minutes. Your code should ask the user to 
enter their year of birth, and it should return their age in 
minutes (by subtracting their year of birth to the current year). 
Here are things to look out for:
a. The user can only input a 4-digit year of birth. For 
example, 1930 is a valid year. However, entering any 
number longer or less than 4 digits long should render 
input invalid. Notify the user to input a four digits 
number.
b. If a user enters a year before 1900, your code should 
tell the user that input is invalid. If the user enters the 
year after the current year, the code should tell the user, 
to input a valid year.
The code should run until the user inputs a valid year. 
Your function should return the user's age in minutes. For 
example, if someone enters 1930, as their year of birth your 
function should return:
You are 48,355,200 minutes old.

In [30]:
year = int(input('Enter your birth year: '))
def age_in_minutes():
    age = (2022 - year)
    if len(str(year)) < 4:
        return 'invalid year'
    if year > 2022 or year < 1900:
        return 'invalid year'
    print('Your are', age*365*24*60, 'minutes old')

age_in_minutes()

Enter your birth year: 1940
Your are 43099200 minutes old

##### Day 13: Pay Your Tax
Write a function called your_vat. The function takes no 
parameter. The function asks the user to input the price of an 
item and VAT (vat should be a percentage). The function should 
return the price of the item plus VAT. If the price is 220 and, 
VAT is 15% your code should return a vat inclusive price of 253. 
Make sure that your code can handle ValueError. Ensure the 
code runs until valid numbers are entered. (hint: Your code 
should include a while loop).

In [31]:
price = int(input('Enter the price :'))
vat = int(input('Enter vat :'))
def your_vat():
    return price + (vat/100)*price

your_vat()

Enter the price :220
Enter vat :15

253.0

#####Extra Challenge: Pyramid of Snakes
Write a function called Python_snakes that takes a number
as an argument and creates the following shape, using the 
number’s range: (hint: Use the loops and emoji library. If you 
pass 7 as argument, your code should print the following:

In [32]:
pip install emoji

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting emoji
  Downloading emoji-2.2.0.tar.gz (240 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 240.9/240.9 KB 8.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py) ... done
  Created wheel for emoji: filename=emoji-2.2.0-py3-none-any.whl size=234926 sha256=043ce555397975041b508cb76b839f9760b3d691f998cfef1a4e82fab7ee39f0
  Stored in directory: /root/.cache/pip/wheels/86/62/9e/a6b27a681abcde69970dbc0326ff51955f3beac72f15696984
Successfully built emoji
Installing collected packages: emoji
Successfully installed emoji-2.2.0

In [33]:
from emoji import emojize

#the variable "num" determines the height of the pyramid.
#the first loop prints the number of rows
#the second loop prints the number of snakes in a row

def Python_snakes(num):
  for i in range(0,num):
    for j in range(0,i+1):
      print(emojize(':snake:'), end="")
    print("\n")
Python_snakes(5)

🐍

🐍🐍

🐍🐍🐍

🐍🐍🐍🐍

🐍🐍🐍🐍🐍

##### Day 14: Flatten the List
Write a function called flat_list that takes one argument, a 
nested list. The function converts the nested list into a onedimension list. For example [[2,4,5,6]] should return 
[2,4,5,6].

In [34]:
def flat_list(lists):
    new_list = []
    for i in lists:
        for p in i:
            new_list.append(p)
        print(new_list)
flat_list([[2,4,5,6]])

[2, 4, 5, 6]

##### Extra Challenge: Teacher’s Salary
A school has asked you to write a program that will calculate 
teachers' salaries. The program should ask the user to enter the 
teacher’s name, the number of periods taught in a month, 
and the rate per period. The monthly salary is calculated by 
multiplying the number of periods by the monthly rate. 
The current monthly rate per period is $20.  If a teacher has more than 100 periods in a month, everything above 100 is 
overtime.  Overtime is $25 per period. For example, if a teacher 
has taught 105 periods, their monthly gross salary should be 
2,125. 

Write a function called your_salary that calculates a 
teacher’s gross salary. The function should return the 
teacher’s name, periods taught, and gross salary. Here is 
how you should format your output:

Teacher: John Kelly, 

Periods: 105 

Gross salary: 2,125

In [36]:
name = input('Enter teacher"s name: ')
periods= int(input('Enter the number of periods: '))
def your_salary():
    if periods > 100:
        basic = 100 * 20
        overtime = (periods - 100)*25
        print('Gross Salary: ',basic+overtime )
    else:
        print('Gross Salary: ',periods*20)
        
your_salary()

Enter teacher"s name: John Kelly
Enter the number of periods: 105
Gross Salary:  2125

##### Day 15: Same in Reverse
Write a function called same_in_reverse that takes a string 
and checks if the string reads the same in reverse. If it is the 
same, the code should return True if not, it should return False. 
For example, ‘dad’ should return True, because it reads the 
same in reverse.

In [37]:
def same_in_reverse(string):
    if string == string[::-1]:
        return True
    else:
        return False

same_in_reverse('noon')

True

##### Extra Challenge: What’s My Age?
Write a function called your_age. This function asks a student
to enter their name and then it returns their age. For example, if 
a user enters Peter as their name, your function should return, 
‘Hi, Peter, you are 27 years old. This function reads data 
from the database (dictionary below). If the name is not in the 
dictionary, your code should tell the user that their name is not 
in the dictionary, and ask them for their age. Your code should 
then add the name and age to the dictionary of names_age
below. Once added your code should return to the user ‘Hi, 
(added name), you are (added age) years old’. Remember
to convert the input from user to lowercase letters
names_age = {"jane": 23, "kerry": 45, "tim": 34, “peter": 27}

In [38]:
name = input('Enter your name: ').lower()
def your_age(dictionary):
    for k,v in dictionary.items():
        if k == name:
            print('Hi,',name.capitalize(), '-You are', v, 'years old')
        if name not in dictionary:
            age = int(input('Enter your age: '))
            dictionary[name] = age
            print('Hi,', name.capitalize(), '-You are', age, 'years old')
            
your_age({"jane": 23, "kerry": 45, "tim": 34, "peter": 27})

Enter your name: Peter
Hi, Peter -You are 27 years old

##### Day 16: Sum the List
Write a function called sum_list with one parameter that takes 
a nested list of integers as an argument and returns the sum of 
the integers. For example, if you pass [[2, 4, 5, 6], [2, 3, 5, 6]]
as an argument your function should return a sum of 33.

In [39]:
def sum_list(lists):
    sum_list = []
    for each_list in lists:
        for i in each_list:
            sum_list.append(i)
    print(sum(sum_list))
    
sum_list([[2, 4, 5, 6], [2, 3, 5, 6,2],[1,2]])

38

##### Extra Challenge: Unpack A Nest
Nested_list = [[12, 34, 56, 67], [34, 68, 78]]

Write a code that generates a list of the following numbers from 
the nested list above – 34, 67, 78. Your output should be another 
list:
[34, 67, 78]. The list output should not have duplicates.

In [40]:
#I was not so sure about what the question means
nested_list = [[12, 34, 56, 67], [34, 68, 78]]
new_list = []
for each_list in nested_list:
    for i in each_list:
        if i == 34 or i == 67 or i == 78:
            if i not in new_list:
                new_list.append(i)
print(new_list)

[34, 67, 78]

##### Day 17: User Name Generator
Write a function called user_name, that creates a username 
for the user. The function should ask a user to input their name. 
The function should then reverse the name and attach a 
randomly issued number between 0 – 9 at the end of the name. 
The function should return the username.

In [41]:
#To generate a random number, we need to import the random module from the NumPy Libraries

from numpy import random
user = input('Enter your name: ').replace(' ','').lower()
def user_name():
    name = user[::-1]
    rand_num = random.randint(10)
    username = name + str(rand_num)
    print(username)
user_name()

Enter your name: Tosin
nisot7

##### Extra Challenge: Sort by Length
names = [ "Peter", "Jon", "Andrew"]

Write a function called sort_length that takes a list of strings
as an argument, and sorts the strings in ascending order 
according to their length. For example, the list above should 
return:
['Jon', 'Peter', 'Andrew']
Do not use the built-in sort functions

In [42]:

  def sort_length(names):
    new_list = list(set(names))                #create an ordered list of names using the set function, convert to list 
    ord_list = new_list[::-1]                  #reverse the list
    print(ord_list)

sort_length([ "Peter", "Jon", "Andrew"])

['Andrew', 'Jon', 'Peter']

##### Day 18: Any Number of Arguments
Write a function called any_number that can receive any 
number of arguments (integers and floats) and return the 
average of those integers. If you pass 12, 90, 12, 34 as 
arguments your function should return 37.0 as average. If you 
pass 12, 90 your function should return 51.0 as average.

In [43]:
#I use the asterisk(*) so that my argument can take multiple numbers
def any_number(*numbers):
    average = sum(numbers)/len(numbers)
    return average

any_number(12,90,12,34)

37.0

In [44]:
any_number(12,90)

51.0

##### Extra Challenge: Add and Reverse
Write a function called add_reverse. This function takes two
lists as argument and adds each corresponding number, and 
reverses the outcome. For example, if you pass [10, 12, 34]
and [12, 56, 78]. Your code should return [112, 22, 68]. If the 
two lists are not of equal lengths, the code should return a 
message that "the lists are not of equal lengths".

In [45]:
def add_reverse(lists_1,lists_2):                    #create a function
    new_list =[]                                     #initialise an empty list
    if len(lists_1) == len(lists_2):                 #check if the length of the lists are equal to each other
        for i in range(0, len(lists_1)):             #define a range whose upper limit is the length of each list
            sum_list = lists_1[i] + lists_2[i]       #add the list together
            new_list.append(sum_list)                #append to new_list
        print(new_list[::-1])                        #reverse the list
    
    else:
        print('The lists are not of equal lengths')

    
add_reverse([10, 12, 34],[12, 56,78])

[112, 68, 22]

In [46]:
add_reverse([10, 12, 34],[12, 56])

The lists are not of equal lengths

##### Day 19: Words and Elements
Write two functions. 

The first function is called count_words
which takes a string of words and counts how many words are in 
the string. 
The second function called count_elements takes a string of 
words and counts how many elements are in the string. Do not 
count the whitespaces. The first function will return the number 
of words in a string and the second one will return the number 
of elements (less whitespace). If you pass ‘I love learning’, 
the count_words function should return 3 words and 
count_elements should return 13 elements.

In [47]:
def count_words(string):
    words = string.split()
    print(len(words))
count_words('string is good')

def count_elements(string):
    string = string.replace(' ','')
    print(len(string))
count_elements('string is good')

3
12

In [48]:
def count_words_elements(string):
    words = string.split()
    string = string.replace(' ','')
    print('No of words -', len(words), '\nNo of letters -',len(string))
    
count_words_elements('string is good')

No of words - 3
No of letters - 12

##### Day 20: Capitalize First Letter

Write a function called capitalize. This python
function takes a string 
as an argument and capitalizes the first letter of each word. For 
example, ‘i like learning’ becomes ‘I Like Learning’. .

In [49]:
def capitalize(string):
    words = string.split()                                  #split the string into words
    new_string = ' '.join([i.capitalize() for i in words])  #capitalize each element in words, join them together and append to "new_string"
    print(new_string)                                       #print new_string
capitalize('i like learning')


#alternate method
def capitalize(string):
    cap_string = []
    words = string.split()                                  
    for i in words:
        cap_string.append(i.capitalize()) 
        new_string = ' '.join(cap_string)
    print(new_string)
capitalize('my name is tosin')

I Like Learning
My Name Is Tosin

#####**Extra Challenge: Reversed List**

str1 = 'leArning is hard, bUt if You appLy youRself you can achieVe success'

You are given a string of words. Some of the words in the string
contain uppercase letters. Write a code that will return all the 
words that have an uppercase letter. Your code should return a 
list of the words. Each word in the list should be reversed. Here 
is how your output should look:

['gninrAel', 'tUb', 'uoY', 'yLppa', 'flesRuoy', 'eVeihca']

In [50]:

def reverse(string):
    upper_case =[]
    words = string.split()
    for i in words:
            if i.islower() != True:
                upper_case.append(i)
    print ('Old List -',upper_case)
    reverse_list = [i[::-1] for i in upper_case]
    print ('New List -',reverse_list)

reverse('leArning is hard, bUt if You appLy youRself you can achieVe success')

Old List - ['leArning', 'bUt', 'You', 'appLy', 'youRself', 'achieVe']
New List - ['gninrAel', 'tUb', 'uoY', 'yLppa', 'flesRuoy', 'eVeihca']

##### **Day 21: List of Tuples**

Write a function called make_tuples that takes two 
 lists, 
equal lists, and combines them into a list of tuples. For 
example, if list a is [1,2,3,4] and list b is [5,6,7,8], your
function should return [(1,5), (2,6), (3,7), (4,8)].

In [51]:
def makes_tuples(a,b):
  lists =[(a[i],b[i]) for i in range(0,len(a))] 
  print(lists)
makes_tuples([1,2,3,4,5],[5,6,7,8,9])

[(1, 5), (2, 6), (3, 7), (4, 8), (5, 9)]

#####**Extra Challenge: Even Number or Average**

Write a function called even_or_average that ask a user to 
input five numbers. Once the user is done, the code should 
return the largest even number in the inputted numbers. If 
there is no even number in the list, the code should return the 
average of all the five numbers.

In [52]:
def even_or_average():
  numbers = list(map(int, input("Enter multiple values seperated by a single space: ").split()))
  even_list = []
  for i in numbers:
    if i % 2 == 0:
      even_list.append(i)

  if len(even_list) > 0:
    print('Maximum even number is',max(even_list))

  else:
    print('Average Number',sum(numbers)/len(numbers))
            
even_or_average()

Enter multiple values seperated by a single space: 3 5 8 1 2
Maximum even number is 8

In [53]:
even_or_average()

Enter multiple values seperated by a single space: 3 7 9 9 1
Average Number 5.8

#####**Day 22: Add Under_Score**

Create three functions. The first called add_hash takes a string and 
adds a hash # between the words. The second function called 
add_underscore removes the hash (#) and replaces it with an 
underscore "_" The third function called remove_underscore,
removes the underscore and replaces it with nothing. if you pass 
‘Python’ as an argument for the three functions, and you call them at 
the same time like:
print(remove_underscore(add_underscore(add_hash('Python')))) 
it should return ‘Python’.

In [54]:
def add_hash(string):
    new_string = string.replace(' ', '#')
    print(new_string)
add_hash('I love people who give')

def add_underscore(string):
  if string:                                               
    string = string.replace('#','_')                        
    print(string)
add_underscore('I#love#people#who#give')

def remove_underscore(string):
  if string:
    string = string.replace('_',' ')
    print(string)
remove_underscore('I_love_people_who_give')

remove_underscore(add_underscore(add_hash('Python')))

I#love#people#who#give
I_love_people_who_give
I love people who give
Python

#####**Day 23: Simple Calculator**

Create a simple calculator. The calculator should be able to perform 
basic math operations, add, subtract, divide and multiply. The 
calculator should take input from users. The calculator should be 
able to handle ZeroDivisionError, NameError, and 
ValueError.

In [55]:
num_1 = float(input('Enter the first number -'))
operator = input('Enter operator ')
num_2 = float(input('Enter the second number -'))

if operator == '+':
  print(num_1, "+",num_2,"=",num_1 + num_2)

elif operator == '-':
  print(num_1, "-",num_2,"=",num_1 - num_2)

elif operator == '*':
  print(num_1, "*",num_2,"=",num_1 * num_2)

elif operator == '/':
    if num_2 == 0:
        print("Sorry, can't divide a number by zero, Enter a number greater than zero")
    else:
        result = num_1 / num_2
        print(num_1, "/", num_2,"=",result)
else:
    print("Please enter a valid operator from among the ones provided above")

Enter the first number -45
Enter operator +
Enter the second number -34
45.0 + 34.0 = 79.0

#####**Extra Challenge: Multiply Words**

s = "love live and laugh"

Write a function called multiply_words that takes a string as an 
argument and multiplies the length of each word in the string by
the length of other words in the string. For example, the string 
above should return 240 - love (4) live (4) and (3) laugh (5). 
However, your function should only multiply words will all 
lowercase letters. If a word has one upper case letter, it should be
ignored. For example, the following string:
s = "Hate war love Peace" should return 12 – war (3) love (4). 
Hate and Peace will be ignored because they have at least one 
uppercase letter.

In [56]:
import numpy

def multiply_words(string):
    len_words = []                              
    string = string.split()                          #split the string into words
    for i in string:                                 #for each word in the string
        if i.islower() == True:                      #if each word is in lowercase
            len_words.append(len(i))                 #append the length of each word to a list
    mult_num = numpy.prod(len_words)                 #multiply all the numbers in the list
    print(mult_num)

    
multiply_words("Hate war love Peace")
multiply_words("love live and laugh")

12
240

#####**Day 24: Average Calories**

Create a function called average_calories that calculates the 
average calories intake of a user. The function should ask the user 
to input their calories intake for any number of days and once they 
hit ‘done’ it should calculate and return the average intake.

In [57]:
def average_calories():
  total_cal = int(input('Input Calories for any number of days: '))
  num_days = int(input('No of days: '))
  print('Average number of calories for', num_days,'days','is',total_cal/num_days,'calories') 

average_calories()

Input Calories for any number of days: 235
No of days: 6
Average number of calories for 6 days is 39.166666666666664 calories

#####**Extra Challenge: Create a Nested List**

Write a function called nested_lists that takes any number of 
lists and creates a 2-dimensional nested list of lists. For example,
if you pass the following lists as arguments: [1, 2, 3, 5], [1, 2, 3, 
4], [1, 3, 4, 5].
Your code should return: [[1, 2, 3, 5], [1, 2, 3, 4], [1, 3, 4, 5]]

In [58]:
def nested_lists(lists_1,lists_2,lists_3):
  new_list = [[i for i in lists_1],[i for i in lists_2],[i for i in lists_3] ]

  print(new_list)
  
nested_lists([1, 2, 3, 5], [1, 2, 3, 4], [1, 3, 4, 5])

[[1, 2, 3, 5], [1, 2, 3, 4], [1, 3, 4, 5]]

#####**Day 25: All the Same**

Create a function called all_the_same that takes one 
argument, a string, a list, or a tuple and checks if all the 
elements are the same. If the elements are the same, the function 
should return True. If not, it should return False. For example, 
[‘Mary’, ‘Mary’, ‘Mary’] should return True.

In [59]:
def all_the_same(lists):
  for i in lists:
    if len(set(lists)) == 1:
      return True
    else:
      return False

all_the_same(['Mary', 'Mary', 'Mary'])

True

#####**Extra Challenge: Reverse a String**

str1 = "the love is real"

Write a function called read_backwards that takes a string as 
an argument and reverses it. For example, the string above 
should return: "real is love the"

In [60]:
def read_backwards(string):
  string = string.split()
  print('Old String- ',' '.join(string))
  string = string[::-1]
  
  print('New string- ',' '.join(string))

read_backwards('the love is real')

Old String-  the love is real
New string-  real is love the

#####**Day 26: Sort Words**

Write a function called sort_words that takes a string of words 
as an argument, removes the whitespaces, and returns a list of 
letters sorted in alphabetical order. Letters will be separated by 
commas. All letters should appear once in the list. This means 
that you sort and remove duplicates. For example ‘love life’
should return as ['e,f,i,l,o,v'].

In [61]:
def sort_words(string):
  string = string.replace(" ", "")
  
  return (set(string))
sort_words('love life')

{'e', 'f', 'i', 'l', 'o', 'v'}

#####**Extra Challenge: Length of Words**

s = 'Hi my name is Richard'

Write a function called string_length that takes a string of 
words (words and spaces) as argument. This function should 
return the length of all the words in the string. Return the results 
in a form of a dictionary. The string above should return:
{'Hi': 2, 'my': 2, 'name': 4, 'is': 2, 'Richard': 7}

In [62]:
def string_length(string):
  dictionary = {}                        #create an empty dictionary
  string = string.split()                #split the string into words
  for i in string:                       #for each word in the string,
    dictionary[i] = len(i)               #create key for each word.....
  print (dictionary)

string_length('Hi my name is Richard')

{'Hi': 2, 'my': 2, 'name': 4, 'is': 2, 'Richard': 7}

##### **Day 27: Unique Numbers**

Write a function called unique_numbers that takes a list of 
numbers as an argument. Your function is going to find all the 
unique numbers in the list. It will then sum up the unique 
numbers. You will calculate the difference between the sum of 
all the numbers in the original list and the sum of unique 
numbers in the list. If the difference is an even number, your 
function should return the original list. If the difference is an 
odd number, your function should return a list with unique 
numbers only. For example [1, 2, 4, 5, 6, 7, 8, 8] should 
return [1, 2, 4, 5, 6, 7, 8, 8].

In [63]:
def unique_numbers(lists):
  uniq_list = set(lists)
  diff = sum(lists) - sum(uniq_list)
  if diff % 2 == 0:
    return lists
    if diff % 2 != 0:
      return uniq_list
unique_numbers([1, 2, 4, 5, 6, 7, 8,8])

[1, 2, 4, 5, 6, 7, 8, 8]

##### **Extra Challenge: Difference of Two Lists**

Write a function called difference that takes two lists as 
arguments. This function should return all the elements that are 
in list a but not in list b and all the elements in list b not in list 
a. For example:
list1 = [1, 2, 4, 5, 6]
list2 = [1, 2, 5, 7, 9]
should return:
[4, 6, 7, 9]
Use list comprehension in your function.

In [64]:
def difference(list_1,list_2):
  new_list =[i for i in list_1 if i not in list_2] + [i for i in list_2 if i not in list_1 ]
  return new_list

difference([1, 2, 4, 5, 6],[1, 2, 5, 7, 9])

[4, 6, 7, 9]

##### **Day 28: Return Indexes**

Write a function called index_position. This function takes a 
string as a parameter and returns the positions or indexes of all 
lower letters in the string. For example, ‘LovE’ should return 
[1,2].

In [65]:
def index_position(string):
  index = []
  for i in string:
    if i.islower() == True:
      index.append(string.index(i))
  print(index)
    
index_position('LovE')

[1, 2]

##### **Extra Challenge: Largest Number**

Write a function called largest_number that takes a list of 
integers and re-arrange the individual digits to create the largest 
number possible. For example, if you pass the following as an 
argument: list1 = [3, 67, 87, 9, 2]. Your code should return the 
number in this exact format: 9,877,632 as the largest number.

In [66]:
def largest_number(lists):

  #joined the numbers together to form a single unit  of numbers
  joined_list = ''.join(str(i) for i in lists)

  #Converted the number to a list                
  lists = list(joined_list)

  #Rearranged the number from the maximum to the minimum
  sorted_list = sorted(joined_list, reverse = True)

  #converted each number to a string, joined them and converted to an integer
  integer = int(''.join(str(i) for i in sorted_list))

  #added the commas
  largest_no = (f"{integer:,}")  

  print('Joined_list-',joined_list)
  print('List-',lists)
  print('Sorted_list-', sorted_list)
  print('Integer -', integer)
  print('Largest No- ',largest_no)
largest_number([3,67,87,9,2])

Joined_list- 3678792
List- ['3', '6', '7', '8', '7', '9', '2']
Sorted_list- ['9', '8', '7', '7', '6', '3', '2']
Integer - 9877632
Largest No-  9,877,632

##### **Day 29: Middle Figure**

Write a function called middle_figure that takes two 
parameters a, and b. The two parameters are strings. The 
function joins the two strings and finds the middle element. 
If the combined string has a middle element, the function should 
return the element, otherwise, return ‘no middle figure’. Use
‘make love’ as an argument for a and ‘not wars’ as an 
argument for b. Your function should return ‘e’ as the middle 
element. Whitespaces should be removed.

In [67]:
def middle_figure(str_1,str_2):

  str_1 = str_1.replace(' ','')
  str_2 = str_2.replace(' ','')
  new_string = str_1 + str_2

  if len(new_string) % 2 != 0:
    pos = (len(new_string)//2) 
    print(new_string[pos])

  else:
    print('No middle figure')

middle_figure('make love', 'not wars')

e

In [68]:
middle_figure('make love', 'not war')

No middle figure

##### **Day 30: Most Repeated Name**

Write a function called repeated_name that finds the most 
repeated name in the following list.
name = ["John", "Peter", "John", "Peter", "Jones", "Peter"]

In [69]:
def repeated_name(lists):
  dictionary = {}
  for i in lists:
    dictionary[i] = lists.count(i)
  print (dictionary)
  print ('The most repeated name is: ',max(dictionary))

repeated_name( ["John", "Peter", "John", "Peter", "Jones", "Peter"])

{'John': 2, 'Peter': 3, 'Jones': 1}
The most repeated name is:  Peter

##### **Extra Challenge: Sort by Last Name**

You work for a local school in your area. The school has a list of 
names of students saved in a list. The school has asked you to 
write a program that takes a list of names and sorts them
alphabetically. The names should be sorted by last names. Here 
is a list of names:
[‘Beyonce Knowles, ‘Alicia Keys’, ‘Katie Perry’, ‘Chris 
Brown’,’ Tom Cruise’]
Your code should not just sort them alphabetically, but it should 
also switch the names (the last name must be the first). Here is 
how your code output should look:
['Brown Chris', 'Cruise Tom', 'Keys Alicia', 'Perry Katie', 
'Knowles Beyonce']
Write a function called sorted_names.

In [70]:
def sorted_names(lists):

  split_names = [i.split() for i in lists]
  print('Old List-',split_names)

  new_names = []
  for i in split_names:
    first_name = i[0]
    last_name = i[1]
    
    new_names.append( ' '.join([last_name,first_name]))
  print('New List-',new_names)

sorted_names(['Beyonce Knowles', 'Alicia Keys', 'Katie Perry', 'Chris Brown','Tom Cruise'] )

Old List- [['Beyonce', 'Knowles'], ['Alicia', 'Keys'], ['Katie', 'Perry'], ['Chris', 'Brown'], ['Tom', 'Cruise']]
New List- ['Knowles Beyonce', 'Keys Alicia', 'Perry Katie', 'Brown Chris', 'Cruise Tom']

##### **Day 31: Longest Word**
Write a function that has one parameter and takes a list of words 
as an argument. The function returns the longest word from the 
list. Name the function longest_word. The function should 
return the longest word and the number of letters in that word. 
For example, if you pass [‘Java, ‘JavaScript’, ‘Python’], your 
function should return 
[10, JavaScript] as the longest word.

In [71]:
def longest_word(lists):
  dictionary = {}
  for i in lists:
    dictionary[i] = len(i)
    max_value = max(dictionary, key=dictionary.get)
  print(dictionary)
  print([len(max_value),max_value])
  
longest_word(['Java', 'JavaScript', 'Python'])

{'Java': 4, 'JavaScript': 10, 'Python': 6}
[10, 'JavaScript']

##### **Extra Challenge: Create User**
Write a function called create_user. This function asks the 
user to enter their name, age, and password. The function 
saves this information in a dictionary. For example, if the use 
enters name as Peter, age - 18 and password - love. The 
function should save the information as: {'name': 'Peter', 
'age': 18, 'password': 'love'}
Once the information is saved. The function should print to the 
user that - "User saved. Please login"
The function should then ask the user to re-enter their name 
and password. If the name and password match with what is 
saved in the dictionary, the function should return "Logged in 
successfully". If the name and password do not match with 
what is saved in the dictionary, the function should print
('Wrong password or user name. Please try again'. The 
function should keep running until the user enters correct 
logging details.

In [72]:
def create_user():
  dictionary = {}
  name = input('Enter your name- ')
  age = input('Enter your age- ')
  password = input('Enter your password- ')

  dictionary['Name'] = name
  dictionary['Age'] = age
  dictionary['Password'] = password
  print(dictionary)
  print("User saved. Please login" '\n')

  s_name = input('Enter your name- ')
  s_password = input('Enter your password- ')
  if dictionary['Name'] == s_name and dictionary['Password'] == s_password: 
    print('Logged in successfully')
  else:
    print('Wrong password or user name. Please try again')
  

create_user()

Enter your name- Bello
Enter your age- 35
Enter your password- Bello345
{'Name': 'Bello', 'Age': '35', 'Password': 'Bello345'}
User saved. Please login

Enter your name- Bello
Enter your password- Bello345
Logged in successfully

##### **Day 32: Password Validator**
Write a function called password_validator. The function 
asks the user to enter a password. A valid password should have 
at least one upper letter, one lower letter, and one 
number. It should not be less than 8 characters long. When 
the user enters a password, the function should check if the 
password is valid. If the password is valid, the function should 
return the valid password. If the password is not valid, the 
function should tell the users the errors in the password and 
prompt the user to enter another password. The code should 
only stop once the user enters a valid password. (use while loop).

In [73]:
def password_validator():
  password = input('''
  Enter a password- 

  It should be at least 8 characters long,
  have at least one uppercase letter, 
  one lowercase letter, 
  and one number. 
  ''')
  
  upper_case = 0
  lower_case = 0
  number = 0
  if len(password)>= 8:
    for i in password:
      if i.isupper() == True:
        upper_case+=1

      if i.islower() == True:
        lower_case+=1

      if i.isnumeric() == True:
        number+=1

  if upper_case >=1 and lower_case >=1 and number >= 1:
    print('Valid password')
  else:
    print('Invalid password')

password_validator()

  Enter a password-

  It should be at least 8 characters long,
  have at least one uppercase letter,
  one lowercase letter,
  and one number.
  Bello3456
Valid password

##### **Extra Challenge: Valid Email**
emails = ['ben@mail.com', 'john@mail.cm', 'kenny@gmail.com', '@list.com' ]

Write a function called email_validator that takes a list of 
emails and checks if the emails are valid. The function returns a 
list of only valid emails. A valid email address will have the
following - @ symbol (if the @ sign is at the beginning of the 
name, the email is invalid. If there are more than one @signs, 
the email is invalid. All valid emails must have a dot com at the 
end (.com), if not, the email is invalid. For example, the list of 
emails above should output the following as valid emails:
['ben@mail.com', 'kenny@gmail.com']
If no emails in the list are valid, the function should return ‘all emails are 
invalid’

In [74]:
import re
 
def check(emails):

    #create a format for my emails 
    format = r'\b[A-Za-z0-9._%+-]+@[gmail]+\.[A-Z|a-z]{3}\b'


    valid_emails = []
    for i in emails:
      if re.match(format,i):
        valid_emails.append(i)
    if len(valid_emails) != 0:
      print(valid_emails)
    else:
      print('All emails are invalid')


check(['ben@mail.com', 'john@mail.cm', 'kenny@gmail.com', '@list.com' ])

['ben@mail.com', 'kenny@gmail.com']

##### **Day 33: List Intersection**
Write a function called inter_section that takes two lists and 
finds the intersection (the elements that are present in both 
lists). The function should return a tuple of intersections. Use 
list comprehension in your solution. Use the lists below. Your 
function should return (30, 65, 80).
list1 = [20, 30, 60, 65, 75, 80, 85]
list2 = [ 42, 30, 80, 65, 68, 88, 95]

In [75]:
def inter_section(lists_1,lists_2):
  tuple_list = [i for i in lists_1 and lists_2 if i in lists_1 and lists_2]
  
  print(tuple(tuple_list))
inter_section([20, 30, 60, 65, 75, 80, 85],[ 42, 30, 80, 65, 68, 88, 95])

(30, 80, 65)

##### **Extra Challenge: Set or list**
You want to implement a code that will search for a number in 
a range. You have a decision to make as to whether to store the 
number in a set or a list. Your decision will be based on time. 
You have to pick a data type that executes faster.
You have a range and you can either store it in a set or a list
depending on which one executes faster when you are searching 
for a number in the range. See below:
a = range(10000000)
x = set(a)
y = list(a)
Let’s say you are looking for a number 9999999 in the range 
above. Search for this number in the list and the set. Your 
challenge is to find which code executes faster. You will pick the 
one that executes quicker, lists, or sets. Run the two searches 
and time them

In [76]:
import time

number = int(input('Enter a number : '))
a = range(10000000)

start_time = time.time()
if number in a:
  x = set(a) 
end_time = time.time()
x_duration = (end_time - start_time)
print('x takes',x_duration,'seconds to run') 

start_time = time.time()
if number in a:
  y = list(a) 
end_time = time.time()
y_duration = (end_time - start_time)
print('y takes',y_duration,'seconds to run') 

if x_duration > y_duration:
  print('Lists run faster than sets')
else:
  print('Sets run faster than lists')

Enter a number : 99999
x takes 1.0122103691101074 seconds to run
y takes 0.3918936252593994 seconds to run
Lists run faster than sets

##### **Day 34: Just Digits**
In this challenge, copy the text below and save it as a CSV file. 
Save it in the same folder as your Python file. Save it as 
python.csv.
Write a function called just_digits that reads the text from the 
CSV file and returns only digit elements from the file. Your 
function should return 1991, 2, 200, 3, 2008 as a list of 
strings.


“Python was released in 1991 for the first time. Python 2 was 
released in 2000 and introduced new features, such as list 
comprehensions and a cycle-detecting garbage collection system 
(in addition to reference counting). Python 3 was released in 2008 
and was a major revision of the language that is not 
completely backward-compatible.”
Source: Wikipedia

In [78]:
import pandas as pd
import re

def just_digits():
  text = pd.read_csv('python.csv')
  text = str(text)
  print(re.findall(r'\d+', text))
just_digits()

['1991', '2', '2000', '3', '2008']

##### **Day 35: Pangram**
Write a function called check_pangram that takes a string 
and checks if it is a pangram. A pangram is a sentence that 
contains all the letters of the alphabet. If it is a pangram, 
the function should return True, otherwise, return False. The 
following sentence is a pangram so it should return True:
'the quick brown fox jumps over a lazy dog'

In [80]:
def check_pangram(string):
  
  string = set(string)
  if len(string) > 26:
    print(True)

  else:
    print(False)

check_pangram('the quick brown fox jumps over a lazy dog')

True

#####**Extra Challenge: Find my Position**
Write a function called find_index that takes two arguments; 
a list of integers, and an integer. The function should return the 
indexes of the integer in the list. If the integer is not in the list, 
the function should convert all the numbers in the list into the 
given integer. 
For example, if the list is: [1, 2, 4, 6, 7, 7] and the integer is 7, 
your code should return [4, 5] as the indexes of 7 in the list. If 
the list is [1, 2, 4, 6, 7, 7] and the integer is 8, your code should 
return [8, 8, 8, 8, 8, 8] because 8 is not in the list.

In [81]:
def find_index(lists_1,num):

  if num in lists_1:
    index = [i for i, e in enumerate(lists_1) if e == num]
    print(index)
  else:
    print([num for i in lists_1 if num not in lists_1])
find_index([1, 2, 4, 6, 7, 7],7)
find_index([1, 2, 4, 6, 7, 7],8)

[4, 5]
[8, 8, 8, 8, 8, 8]

#####**Day 36: Count String**
Write a function called count that takes one argument a string,*italicised text*
and returns a dictionary of how many times each element 
appears in the string. For example, ‘hello’ should return:
{‘h’:1,’e’: 1,’l’:2, ‘o’:1}.

In [82]:
def count(string):
  dictionary ={}
  for i in string:
    dictionary[i] = string.count(i)
  print(dictionary)
count('hello')

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

##### **Day 37: Count the Vowels**
Create a function called count_the_vowels. The function 
takes one argument, a string, and returns the number of vowels
in the string. For example, ‘hello’ should return 2 vowels. If a 
vowel appears in a string more than once it should be counted 
as one. For example, ‘saas’ should return 1 vowel. Your code 
should count lowercase and uppercase vowels.

In [83]:
def count_the_vowels(string):
  vowels = ('a','A','I','i','E','e','O','o','U','u')  
  vowel_list =[i for i in set(string) if i in vowels]
  print(vowel_list)

count_the_vowels('hello')
count_the_vowels('saas')

['e', 'o']
['a']

#####**Day 38: Guess a Number**

Write a function called guess_a_number. The function 
should ask a user to guess a randomly generated number. If the 
user guesses a higher number, the code should tell them that the 
guess is too high, if the user guesses low, the code should tell 
them that their guess is too low. The user should get a maximum 
of three guesses. When the user guesses right, the code should 
declare them a winner. After three wrong guesses, the code 
should declare them a loser.

In [84]:
import numpy as np
import random

rand_num = random.randint(1,9)

def guess_a_number():
  count = 0
  while count < 4:
    g_num = int(input('Guess a randomly generated number between 1 to 9: '))
    count+=1
  
    if g_num == rand_num: 
      print('You win. Grand Master of guesses')
      break

    if count == 3 and g_num != rand_num:
      print('Oops. Stop guessing. You lose')
      break

    if g_num > rand_num:
      print('Guess is too high')
    if g_num < rand_num:
      print('Guess is too low')

guess_a_number()

Guess a randomly generated number between 1 to 9: 4
Guess is too low
Guess a randomly generated number between 1 to 9: 5
Guess is too low
Guess a randomly generated number between 1 to 9: 6
You win. Grand Master of guesses

#####**Extra Challenge: Find Missing Numbers**
list = [1, 2, 3, 5, 6, 7, 9, 11, 12, 23, 14, 15, 17, 
 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 31]
Write a function called missing_numbers that takes a list of 
sequence of numbers and finds the missing numbers in the 
sequence. The list above should return:
[4, 8, 10, 13, 16, 29, 30]

In [85]:
def missing_numbers(lists):
      missing_num =[]
      for i in range(lists[0], lists[-1] + 1):
        if i not in lists:
          missing_num.append(i)
          
      print(missing_num)

missing_numbers( [1, 2, 3, 5, 6, 7, 9, 11, 12, 23, 14, 15, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 31] )

[4, 8, 10, 13, 16, 29, 30]

#####**Day 39: Password Generator**
Create a function called generate_password that generates any 
length of password for the user. The password should have a
random mix of upper letters, lower letters, numbers, and 
punctuation symbols. The function should ask the user how 
strong they want the password to be. The user should pick from -
weak, strong, and very strong. If the user picks weak, the 
function should generate a 5-character long password. If the user 
picks strong, generate an 8-character password and if they pick 
very strong, generate a 12-character password.

In [86]:
#The secrets module is used for generating cryptographically 
#strong random numbers suitable for managing data such as passwords, 
#account authentication, security tokens, and related secrets.


import secrets, string

def generate_password():
  password = input('''
  Select the type of password you want to generate
  + Weak
  + Strong
  + Very Strong
  ''')

  characters = string.ascii_letters + string.digits + string.punctuation
  
  if password == 'Weak':
    weak_pass = ''.join(secrets.choice(characters) for _ in range(5))
    print('Your weak password is- ',weak_pass)

  if password == 'Strong':
    strong_pass = ''.join(secrets.choice(characters) for _ in range(8))
    print('Your strong password is - ',strong_pass)

  if password == 'Very Strong':
    very_strong_pass = ''.join(secrets.choice(characters) for _ in range(12))
    print('Your very strong password is - ',very_strong_pass)

generate_password()

  Select the type of password you want to generate
  + Weak
  + Strong
  + Very Strong
  Strong
Your strong password is -  4{{pEPp'

#####**Day 40: Pig Latin**
Write a function called translate that takes the following 
words and translates them into pig Latin.
a = 'i love python'
Here are the rules:
1. If a word starts with a vowel (a,e, i, o, u) add ‘yay’ at the 
end. For example, ‘eat’ will become ‘eatyay’
2. If a word starts with anything other than a vowel, move 
the first letter to the end and add ‘ay’ to the end. For 
example, ‘day’ will become ‘ayday’.
Your code should return:
iyay ovelay ythonpay

In [87]:
def piglatin(string):
  string = string.split()
  vowels = ('a','i','e','o','u')

  new_list=[]
  for i in string:
    if i[0] in vowels:
      new_list.append(i+'yay')
    if i[0] not in vowels:
      new_list.append(i[1:]+i[0] + 'yay')
  pig_list = ' '.join(new_list)
  
  print(pig_list)

piglatin('i love python')

iyay ovelyay ythonpyay